html,
body,
#mapid{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.column {
    width: 50%;
}

.button {
    border:True;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:goldenrod;
    transition-duration: 0.4s
}
.button:hover {
    background-color:black;
    color: white;
  }